* {
  margin: 0;
  padding: 0;
}
body {
  font-family: fantasy;
  font-size: 16px;
  color: wheat;
  background-image: url('../img/Outer-Wilds/Outer-Wilds-bg.jpg');
  /*background-image: url('/Game-Shelf/img/Outer-Wilds/Outer-Wilds-bg.jpg');*/
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: black; /*Temporary, change later*/
}
nav,
.footer-nav {
  opacity: 0.9;
}
ul {
  list-style: none;
}
/*----Top Navbar Styling, not fixed, stands still when scrolling----*/
.top-nav {
  padding-top: 0.5rem;
  background-color: black;
  min-height: 2.5rem;
  border-bottom: solid 0.2rem gray;
}
.top-nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}
.top-nav a {
  margin: 0 1rem;
  font-size: 25px;
  font-weight: 100;
  color: wheat;
}
/*----Floating Navbar Styling, not fixed, Moves when scrolling----*/
.floating-nav {
  position: fixed;
  margin-top: 5rem;
  left: 95%;

  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0.9;
}
.floating-nav li {
  height: 120px;
  width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.floating-nav li a {
  opacity: 0;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.floating-nav li:hover a {
  opacity: 1;
  transition: all 0.8s ease-in-out;
  font-size: 25px;
}
.floating-nav li:hover {
  background-size: 0 0;
}
.floating-nav li:nth-child(1) {
  background-image: url(/img/Outer-Wilds/8gtup1hqxqh91.png);
}
.floating-nav li:nth-child(2) {
  background-image: url(/img/Outer-Wilds/8gtup1hqxqh91.png);
}
.floating-nav li:nth-child(3) {
  background-image: url(/img/Outer-Wilds/8gtup1hqxqh91.png);
}
.floating-nav li:nth-child(4) {
  background-image: url(/img/Outer-Wilds/8gtup1hqxqh91.png);
}
.floating-nav:hover {
  border-radius: 1rem;
  opacity: 1;
  pointer-events: auto;
}
.floating-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.floating-nav:hover ul {
  opacity: 1;
}
.floating-nav a {
  margin: 0 1rem;
  color: wheat;
}

/*----Footer with links etc----*/
.footer-nav {
  border-top: solid 0.2rem gray;
  height: 10rem;
  width: 100%;
  background-color: black;

  bottom: 0;
}
.footer-nav ul {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.footer-nav a {
  color: wheat;
}
/*----Main Content blob, to contain images and text----*/
.main-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);

  /*-webkit-mask-image: linear-gradient(to left, black 80%, transparent);*/
}
.left-side-flip {
  -webkit-mask-image: url(img/Masks/paper.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  width: 80%;
  padding-left: 20rem;
}
.right-side-flip {
  -webkit-mask-image: url(img/Masks/border.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 120% 100%;
  padding-right: 20rem;
  width: 80%;
}
.main-content p {
  opacity: 0.7;
  padding-left: 10rem;
  padding-right: 15rem;
  width: 50%;
}
/*----Image Related, masks for effect etc.*/
.mask-img {
  height: 20%;
  width: 30%;

  -webkit-mask-image: url(img/Masks/brush-mask-one.png);
  -webkit-mask-repeat: no-repeat;
  mask-image: url(img/Masks/brush-mask-one.png);
  mask-size: 100%;
}
.mask-img:hover {
  mask-size: 110%;
}
.mask-img:click {
  -webkit-mask-image: none;
}
.footer-img {
  height: 2rem;
  width: 2rem;
  padding: 0 1rem;
}

/*---- Placed at bottom to ensure hover overrides other colors ----*/
a:hover {
  color: whitesmoke;
}
