* {
  margin: 0;
  padding: 0;
}
body {
  font-family: fantasy;
  font-size: 16px;
  color: wheat;
  background-image: url('/img/Outer-Wilds/Outer-Wilds-bg.jpg');
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-size: cover;
}
a {
  text-decoration: none;
  color: black; /*Temporary, change later*/
}
nav,
.footer-nav {
  opacity: 0.9;
}
/*----Top Navbar Styling, not fixed, stands still when scrolling----*/
.top-nav {
  background-color: black;
  min-height: 2.5rem;
  border-bottom: solid 0.2rem gray;
}
.top-nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}
.top-nav a {
  margin: 0 1rem;
  font-size: 25px;
  font-weight: 100;
  color: wheat;
}
/*----Floating Navbar Styling, not fixed, Moves when scrolling----*/
.floating-nav {
  position: sticky;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.floating-nav ul {
  width: 15%;
  list-style: none;
  border: solid 0.2rem black;
  border-radius: 1rem;
  display: flex;
  margin: 0 1rem;
  justify-content: center;
}
.floating-nav a {
  margin: 0 1rem;
  color: wheat;
}
/*----Footer with links etc----*/
.footer-nav {
  border-top: solid 0.2rem gray;
  height: 10rem;
  width: 100%;
  background-color: black;
  position: absolute; /*Change this later-It just needs to be on the bottom of the page.*/
  bottom: 0;
}
.footer-nav ul {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.footer-nav a {
  color: wheat;
}
/*----Main Content blob, to contain images and text----*/
.main-content {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}
.main-content p {
  opacity: 0.6;
  padding-left: 10rem;
  width: 50%;
}
/*----Image Related, masks for effect etc.*/
.mask-img {
  height: 20rem;
  width: auto;

  -webkit-mask-image: url(img/Masks/brush-mask-one.png);
  mask-image: url(img/Masks/brush-mask-one.png);
  mask-size: 110%;
}
