* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 16px;
  background-image: url('/img/Outer-Wilds/Outer-Wilds-bg.jpg');
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-size: cover;
}
a {
  text-decoration: none;
  color: black; /*Temporary, change later*/
}
nav,
.footer-nav {
  opacity: 0.9;
}
/*----Top Navbar Styling, not fixed, stands still when scrolling----*/
.top-nav {
  background-color: black;
  min-height: 2.5rem;
  border-bottom: solid 0.2rem gray;
}
.top-nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}
.top-nav a {
  margin: 0 1rem;
  font-size: 25px;
  font-weight: 100;
  color: wheat;
}
/*----Floating Navbar Styling, not fixed, Moves when scrolling----*/
.floating-nav {
  position: sticky;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.floating-nav ul {
  width: 15%;
  list-style: none;
  border: solid 0.2rem black;
  border-radius: 1rem;
  display: flex;
  margin: 0 1rem;
  justify-content: center;
}
.floating-nav a {
  margin: 0 1rem;
  color: wheat;
  /*rgb(179, 182, 179)*/
}
/*----Footer with links etc----*/
.footer-nav {
  border-top: solid 0.2rem gray;
  height: 10rem;
  width: 100%;
  background-color: black;
  position: absolute; /*Change this later-It just needs to be on the bottom of the page.*/
  bottom: 0;
}
.footer-nav ul {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.footer-nav a {
  color: wheat;
}
